@import "https://fonts.googleapis.com/css?family=Arvo";

body {
  background-color: #035074;
  color: #FFFFFF;
  font-family: arial,verdana,sans-serif;
  font-size: 1rem;
  padding: 10px; 
}

#content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;  
}

nav {
  margin-top:20px;
  margin-right:20px;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.heading {
  font-size:3rem;
  font-weight:bold;
  font-family: "Arvo", sans-serif;
  opacity:0.5;
  margin-bottom:3px;
}

.sub-heading {
  font-size:1rem;
  letter-spacing:3px;
}

select {
  font-family:arial,verdana,sans-serif;
  font-size:1rem;
  color:#035074;
  border:2px solid #FFFFFF;
  padding:2px 5px 2px 5px;
  height:32px;
  width:200px;
  border-radius: 5px;
}

select:focus {
  outline:none;
}

main {  
  margin-top:20px;
}

.content-title {
  font-family: "Arvo", sans-serif;
  font-size:1.5rem;
  padding-bottom:10px;
}

.content-description {
  padding-bottom:20px;
  max-width:500px;
}

.content-iconset {
  padding-top:20px;
}

.content-icon {
  border-radius: 5px;
  margin-right: 5px;
  width: 50px
}

.content-icon:nth-of-type(1) {
  border-radius: 10px;
  width: 100px;
}